mixin contact(url, social)
    -label="";
    if (!attributes.label)
        -label = url;
    else
        -label = attributes.label

    a(href=url id=social + "-link" class="hint--bottom-right" aria-label=label)
        img(alt="molnarland-" + social src="pics/icons/" + social + ".png")


mixin rasta-text(text, heading)
    .rasta-text(class!=attributes.class)
        #{heading}
            -first = (text.length - 1) / 3;
            -second = first * 2;

            each item, index in text
                if (item === ' ')
                    -first++;
                    -second++;
                    span(class="molnarland-" + index)= item
                else
                    if (index < first)
                        span(hover-color="red" class="molnarland-" + index)= item
                    else if (index >= first && index < second)
                        span(hover-color="yellow" class="molnarland-" + index)= item
                    else if (index >= second)
                        span(hover-color="green" class="molnarland-" + index)= item




mixin work(picture, title, content, url)
    aside(class!=attributes.class)
        a(href=url target="_blank")
            div.work-img-box
                img(src="pics/works/" + picture alt=title)
            h5.title= title
            p.content= content